@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

.top-bar {
    justify-content: center;
    display: flex;
}

li {
    list-style: none;
    display: flex;
    padding: 3rem;
    position: relative;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 35px;
}

.head {
    width: 100%;
}

.main-photo {
    position: relative;
    padding-left: 100px;
}

#main-photo1 {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}

#big-text {
    font-size: large;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 750px;
    color: #014c81;
    left: 530px;
    font-size: 40px;
    /*text-shadow: 2px 2px #f78888;*/
}

#mid-text {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 140px;
    text-align: center;
}

#mid-text2 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 30px;
    text-align: center;
}

#ic-tower-pic {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    border-radius: 20px 20px 20px 20px;
    padding-left: 150px;
    padding-top: 50px;
}

#ic-tower-text {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-left: 150px;
    position: absolute;
    text-align: center;
}

.tusul {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.main-body {
    margin-top: 150px;
}

.uil-ajillagaa {
    display: flex;
    justify-content: center;
}

.hugjuulelt {
    display: flex;
    justify-content: center;
}

.footer {
    float: left;
    color: #152E70;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    font-size: large;
    margin-top: 50px;
}

#line {
    size: 3;
    width: 95%;
    color: #152E70;
}

#copyright {
    margin-top: 10px;
    color: #152E70;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    font-size: large;
    margin-bottom: 150px;
}